let mapleader=" "

""" Plugins  --------------------------------
set easymotion
set commentary

""" Cmmon settings -------------------------
set showmode
set so=5
set incsearch
set nu
set showmatch
set hlsearch
set ignorecase
set smartcase
set history=3000000

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

nnoremap <leader>si :source ~/.ideavimrc<CR>

inoremap jk <esc>

" code navigation, manipulation
nnoremap <Leader>=  :action ReformatCode<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gt :action GotoTypeDeclaration<CR>
nnoremap gu :action ShowUsages<CR>
nnoremap gf :action FindUsages<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gq :action QuickImplementations<CR>
nnoremap ge :action ShowErrorDescription<CR>
nnoremap gh :action CallHierarchy<CR>

nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>

nnoremap gc :action CommentByLineComment<CR>